#portfolioSection {
	/* background-image: url("../assets/portfolio/bg.jpg"); */
	/* background-size: 100% 100%; */
	/* height: 500vh; */
	/* background-repeat: no-repeat; */
}
.portfolioScene {
	/* position: relative; */
}

/* Section A, Start */
#sectionA {
	background-image: url("../assets/portfolio/bg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	
	/* position: absolute; */
	/* width: 100%; */
	/* height: 100%; */
	/* margin-top: 5%; */
	
	/* overflow: hidden; */
	
	/* border: 2px solid yellow; */
}

/* Slide Showcase Area, and Main Slide */
#aSlide_screen {
	position: absolute;
	
	background-color: black;
	
	width: 70%;
	height: 70%;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
	
	/* border: 2px solid orange; */
}
#aSlide_screen > img {
	width: 100%;
	height: 100%;
	
	object-fit: contain;
}

/* Left and Right Slides */
.rSide,
.lSide {
	position: absolute;
	
	width: 12.5%;
	height: 81%;
	
	top: 0;
	bottom: 0;
	
	margin-top: auto;
	margin-bottom: auto;
	
	/* border: 2px solid red; */
}
.rSide {
	right: 0;
}
.lSide {
	left: 0;
}
.rSide > img,
.lSide > img {
	width: 100%;
	height: 100%;
}
.rSide > img{
   -moz-transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Left and Right Buttons of Slides */
/* Button Container */
#portBtns {
	/* position: relative; */
	position: absolute;
	/* display: block; */
	
	width: 100%;
	height: 10%;
	
	top: 0;
	bottom: 0;
	
	margin-top: auto;
	margin-bottom: auto;
	
	/* padding-left: 7%; */
	/* padding-right: 7%; */
	
	/* margin-top: 15%; */
	
	/* border: 2px solid aqua; */
}
#portBtns > .leftBtn,
#portBtns > .rightBtn {
	position: absolute;
	
	width: 5%;
	height: 100%;
	
	cursor: pointer;
	z-index: 20;
	
	opacity: 0.8;
	
	-moz-transition: 
		transform 500ms ease,
		opacity 500ms ease;
	-webkit-transition: 
		transform 500ms ease,
		opacity 500ms ease;
	transition: 
		transform 500ms ease,
		opacity 500ms ease;
	
	/* border: 2px solid yellow; */
}
#portBtns > .leftBtn:hover,
#portBtns > .rightBtn:hover {
	opacity: 1;
	
	-moz-transform: scale(1.25, 1.25);
	-webkit-transform: scale(1.25, 1.25);
	transform: scale(1.25, 1.25);
	
	/* -moz-transform: scale(125%); */
	/* -webkit-transform: scale(125%); */
	/* transform: scale(125%); */
}
#portBtns > .leftBtn > img,
#portBtns > .rightBtn > img {
	width: 100%;
	height: 100%;
	/* border: 2px solid yellow; */
}
#portBtns > .leftBtn {
	/* float: left; */
	left: 7%;
}
#portBtns > .rightBtn {
	/* float: right; */
	right: 7%;
}
#portBtns > .rightBtn > img {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* Section A, End */

/* .aSlide { */
	/* position: absolute; */
	/* width: 70%; */
	/* left: 0;  */
	/* right: 0;  */
	/* margin-left: auto;  */
	/* margin-right: auto; */
	/* transition:  */
		/* transform 1000ms ease,  */
		/* opacity 500ms ease; */
	
	/* border: 2px solid green; */
/* } */

/* .mainSlide > img{ */
	/* width: 100%; */
	/* z-index: 3; */
/* } */



/* Section B, Start */
#sectionB {
	background-image: url("../assets/portfolio/bg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 22%;
	
	/* position: absolute; */
	/* width: 100%; */
	/* height: 100%; */
	/* margin-top: 95vh; */
	/* font-family: var(--titleFont); */
	
	/* border: 2px solid green; */
}
/* Creator Info Container */
.bBG {
	display: flex;
    align-items: center;
	
	background-image: url("../assets/portfolio/secB.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	height: 100%;
	width: 85%;
	
	margin-right: auto;
	margin-left: auto;
	
	padding-left: 7.4%;
	/* padding-right: 10%; */
	
	/* border: 2px solid orange; */
}
/* Creator Picture */
#mIcon {
	/* position: relative; */
	float: left;
	
	/* width: 30%; */
	/* height: 95%; */
	/* width: 40%; */
	width: fit-content;
	height: 69%;
	
	/* height: 45vh; */
	/* position: absolute; */
	/* margin-left: 6%; */
	/* margin-top: 1%; */
	/* border: 2px solid pink; */
}
#mIcon > img {
	height: 100%;
	/* width: 100%; */
	min-width: 100%;
	
	object-fit: contain;
	
	/* border: 2px solid orange; */
}
/* Creator Details */
#creatorInfo {
	float: right;
	display: flex;
	flex-direction: column;
	/* justify-content: flex-start; */
	justify-content: space-between;
	align-items: stretch;
	
	/* width: 70%; */
	/* height: 95%; */
	width: 70%;
	height: 76%;
	
	padding-left: 4.5%;
	
	/* border: 2px solid aqua; */
}
#creatorInfo > div {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	
	/* width: 80%; */
	/* height: 20%; */
	width: 95%;
	height: 16%;
	
	/* flex-grow: 1; */
	
	/* border: 2px solid orange; */
}
#creatorInfo > #creatorInfo_title {
	font-family: var(--titleFont);
	color: var(--txtColor);
	text-decoration: none;
}
#creatorInfo > #creatorInfo_title > h1 {
	font-weight: bold;
	/* font-size: 8vh; */
	font-size: 7vh;
	
	/* line-height: 1; */
	padding: 0;
	margin: 0;
	
	/* white-space: nowrap; */
}
/* Creator Details Link Container */
#creatorInfo > .creatorInfo_link {
	/* height: 100%; */
	/* width: 100%; */
	
	margin: 0;
	padding: 0;
	/* font-family: var(--titleFont); */
	/* color: var(--txtColor); */
	
	/* border: 2px solid aqua; */
}
/* Creator Details Link */
#creatorInfo > .creatorInfo_link > a {
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: space-around; */
	/* align-items: center; */
	
	width: 100%;
	height: 100%;
	
	font-family: var(--titleFont);
	color: var(--txtColor);
	text-decoration: none;
	
	/* border: 2px solid red; */
}
/* Creator Details Link Image  */
#creatorInfo > .creatorInfo_link > a > .creatorInfo_linkImg {
	display: inline-block;
	
	height: 80%;
	width: 6.5%;
	
	/* border: 2px solid green; */
}
#creatorInfo > .creatorInfo_link > a > .creatorInfo_linkImg > img {
	height: 100%;
	width: 100%;
	
	object-fit: contain;
	
	/* border: 2px solid orange; */
}
/* Creator Details Link Text */
#creatorInfo > .creatorInfo_link > a > .creatorInfo_linkTxt {
	display: inline-block;
	padding-left: 2.5%;
	
	width: auto;
	height: fit-content;
	
	
	/* border: 2px solid green; */
}
#creatorInfo > .creatorInfo_link > a > .creatorInfo_linkTxt > p {
	font-size: 2.5vh;
	
	margin: 0;
	
	/* border: 2px solid orange; */
}
/* Section B, End */



/* Section C, Start */
#sectionC {
	background-image: url("../assets/portfolio/bg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: 50% 21%; */
	background-position: 50% 56%;
	
	/* position: absolute; */
	/* width: 100%; */
	/* height: 100%; */
	/* margin-top: 130vh; */
	
	/* border: 2px solid aqua; */
}

.cBG {
	background-image: url("../assets/portfolio/secC.png");
	background-repeat: no-repeat;
	/* background-size: 100% 100%; */
	background-size: 85% 95%;
	background-position: center 38%;
	
	width: 100%;
	/* height: 75%; */
	height: 100%;
	
	padding-top: 6%;
	
	/* height: 200vh; */
	/* width: 83vw; */
	/* margin-right: auto; */
	/* margin-left: auto; */
	/* margin-top: 9%; */
	/* padding: 4%; */
	
	/* border: 2px solid orange; */
}
#secCcontent {
	/* height: 95%; */
	width: 80%;
	max-width: 80% !important;
	height: 84%;
	max-height: 84% !important;
	
	/* overflow-y: scroll; */
	overflow: auto;
	overflow-x: hidden;
	
	/* border: 2px solid green; */
}
.c1 {
	width: 100%;
	margin: 1%;
}
.c2 {
	width: 100%;
	height: 71%;
	margin: 1%;
}
/* Section C, End */



/* Section D, Start */
#sectionD {
	background-image: url("../assets/portfolio/bg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 95.6%;
	
	/* position: absolute; */
	/* width: 100%; */
	/* height: 100%; */
	/* margin-top: 340vh; */
	
	/* border: 2px solid green; */
}
.dBG {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	
	
	/* background-image: url("assets/portfolio/secD.png"); */
	/* background-repeat: no-repeat; */
	/* background-size: 100% 100%; */
	
	width: 80%;
	height: 100%;
	
	/* height: 55vh; */
	/* width: 70vw; */
	margin-right: auto;
	margin-left: auto;
	/* margin-top: 9%; */
	/* padding: 4%; */
	
	/* border: 2px solid aqua; */
}
.dBG > div {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* align-content: center; */
	align-content: space-around;
	justify-content: center;
	
	
	/* background-image: url("assets/portfolio/secD.png"); */
	/* background-repeat: no-repeat; */
	/* background-size: 100% 100%; */
	
	width: 100%;
	/* height: 100%; */
	height: 20%;
	
	/* height: 55vh; */
	/* width: 70vw; */
	/* margin-right: auto; */
	/* margin-left: auto; */
	/* margin-top: 9%; */
	/* padding: 4%; */
	
	/* border: 2px solid orange; */
}
.pIcon {
	/* width: 107px; */
	width: 15%;
	height: 100%;
	
    /* position: absolute; */
	
	/* border: 2px solid red; */
}
.pIcon > img {
	/* width: 107px; */
	width: 100%;
	height: 100%;
	
	object-fit: contain;
    /* position: absolute; */
}
/* Section D, End */



/* Section E, Start */
#sectionE {
	background-image: url("../assets/portfolio/bg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% bottom;
	
	/* position: absolute; */
	/* width: auto; */
	/* margin-top: 430vh; */
	
	/* border: 2px solid green; */
}

.backTop {
	display: block;
	
	width: fit-content;
	height: 55%;
	
	margin: auto;
	/* margin-left: auto; */
	/* margin-right: auto; */
	
	/* position: relative; */
	/* transform: translateX(40vmax) translateY(-5vmax) scale(0.75); */
	
	/* border: 2px solid orange; */
}
.backTop > img {
	width: auto;
	height: 100%;
}
/* Section E, End */
