#footerSection {
	/* position: -webkit-sticky; */
	/* position: sticky; */
	/* display: none; */
	/* visibility: hidden; */
	opacity: 100;
	position: fixed;
	
	z-index: 1000;
	/* background-color: black; */
	
	/* Design 1 */
	height: var(--sectionHeight_header);
	
	/* Design 2 */
	/* height: 12.5vh; */
	
	/* height: 25.5vh; */
	/* height: fit-content; */
	
	width: 100%;
	
	top: 0;
	
	/* overflow: hidden; */
	
	transition: 
		display 100ms ease,
		opacity 500ms ease;
	
	/* border: 2px solid green; */
}

.footerRow {
	/* Design 1 */
	margin: 0.25% 0%;
	max-height: 50%;
	
	/* Design 2 */
	/* height: 100%; */
	/* margin: 0%; */
	/* vertical-align: top; */
	
	/* border: 2px solid orange; */
}

.footerRow_btn {
	/* Design 1 */
	height: fit-content;
	
	/* Design 2 */
	/* position: absolute; */
	/* right:0; */
	/* width: 75%; */
}
.footerRow_sLinks {
	/* Design 1 */
	height: 75%;
	
	/* Design 2 */
	/* position: absolute; */
	/* left:0; */
	/* width: 25%; */
}

.footer_btn:link,
.footer_btn:visited {
	border-radius: 25px;
	background-color: rgba(200, 200, 200, 0.5);
	
	/* z-index: 1000; */
	
	/* height: 100%; */
	height: fit-content;
	width: 12.5%;
	
	margin: 0% 1.5%;
	
	padding-top: 0.5%;
	/* padding: auto 0%; */
	
	font-family: var(--titleFont);
	
	/* font-size: 1.5vw; */
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: white;
	
	transition: 
		transform 300ms ease, 
		background-color 250ms ease;
}
.footer_btn:hover,
.footer_btn:active {
	transform: scale(125%);
	
	background-color: rgba(250, 250, 250, 0.5);
}

/* Footer Button Text */
.footer_btn > h1 {
	font-weight: bold;
	font-size: 1.5vw;
	/* font-size: fit-content; */
}

/* Social Media Style START */
.footer_btn_sLink:link,
.footer_btn_sLink:visited {
	border-radius: 15px;
	border: 2px dashed rgba(250, 250, 250, 0.6);
	/* border: 2px solid black; */
	/* background-color: rgba(200, 200, 200, 0.5); */
	
	/* z-index: 1000; */
	/* max-height: 65%; */
	/* min-height: 55%; */
	height: 65%;
	/* width: 12.5%; */
	width: auto;
	
	margin: 0% 1.5%;
	
	transition: 
		transform 300ms ease, 
		background-color 250ms ease;
}
.footer_btn_sLink:hover,
.footer_btn_sLink:active {
	transform: scale(115%);
	
	background-color: rgba(250, 250, 250, 0.5);
}

.footer_btn_sLink > img {
	display: block;
	
	height: 100%;
	width: auto;
	
	margin-left: auto;
	margin-right: auto;
}
/* Social Media Style END */