@import "style_portfolioProjects_introSection.css";
@import "style_portfolioProjects_videoSection.css";
@import "style_portfolioProjects_artworksSection.css";
@import "style_portfolioProjects_postersSection.css";
@import "style_portfolioProjects_footerSection.css";

#portfolioSection {
	/* background-image: url("../images/portfolioPage/portfolioProjects/portfolioProjects_img_background.png"); */
	/* background-image: url("../images/portfolioPage/portfolioProjects/portfolioProjects_img_layout.jpg"); */
	/* background-image: url("../images/background_1.png"); */
	background-repeat: no-repeat;
	/* background-position: contain, cover; */
	/* background-color: black; */
	background-size: 100% 100%;
	
	/* overflow: hidden; */
	
	width: var(--sectionWidth);
	height: fit-content;
	
	padding-left: 0%; padding-right: 0%;
	/* padding-top: 5%; */
	
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

.portfolioSection_sub {
	width: var(--sectionWidth);
	height: var(--sectionHeight);
	
	/* margin: 0px; */
	/* padding: 0px; */
}